@import 'styles/variables';
@import 'styles/mixins';

.settings {
  &__title {
    @include page-title;
  }

  &__content {
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__limits {
      display: flex;
      flex-direction: column;

      &__params {
        display: flex;
        flex-direction: column;
      }
    }

    &__telegram {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 300px;
    }
  }
}
