// Colors
$white: #FFFFFF;
$bone: #F5F5F5;
$black: #141414;
$light-gray: #D4D4D4;
$gray: #414141;
$blue: #215CBE;
$red: #DC2535;
$green: #4CAF50;

// Breakpoints
$mobile: 500px;
$tablet: 800px;
$desktop: 1000px;

// Constants
$footer-height: 80px;
$header-height: 130px;
